Repository agogoscd/agogos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: verify-code, build-cli, build-webhooks

.gitlab-ci.yml:

stages:
  - static-analysis
  - test
  - build
  - deploy

include:
  - local: '/.gitlab-ci.static-analysis.yml'
  - local: '/docs/gitlab-ci.yml'

# In order to simplify reviews,
# - Entries should be in stage order
# - Labels for new entries should be in the following order:
#   - stage
#   - extends
#   - image
#   - tags
#   - parallel
#   - dependencies
#   - before_script
#   - script
#   - after_script
#   - artifacts
#   - rules

verify-code:
  stage: test
  image: registry.access.redhat.com/ubi9/openjdk-17:latest
  tags: [docker]
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    MAVEN_MIRROR_URL: "https://agogos-nexus.apps.ocp4.prod.psi.redhat.com/repository/maven-public"
  script:
    - mvn spotless:check
    - mvn verify -s ci_settings.xml -Dmaven.wagon.http.ssl.insecure=true
  artifacts:
    when: always
    reports:
      junit:
        - ./**/target/surefire-reports/TEST-*.xml
        - ./**/target/failsafe-reports/TEST-*.xml
  rules:
    # Run on changes to everything except the documentation
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - .gitlab-ci.yml
          - ./*.xml
          - ./*.json
          - cli/**/*
          - core/**/*
          - operator/**/*
          - relays/**/*
          - test/**/*
          - webhooks/**/*

build-cli:
  stage: build
  image:
    name: quay.io/quarkus/ubi-quarkus-graalvmce-builder-image:22.3-java17
    entrypoint: ["/bin/sh", "-c"]
  tags: [docker]
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    MAVEN_MIRROR_URL: "https://agogos-nexus.apps.ocp4.prod.psi.redhat.com/repository/maven-public"
  script:
    - ./mvnw clean package -pl cli -am -Pnative -s ci_settings.xml -Dmaven.wagon.http.ssl.insecure=true -Dnative-image.xmx=4g
    - mv ./cli/target/agogosctl-runner ./cli/target/agogosctl
  artifacts:
    paths:
      - cli/target/agogosctl
  rules:
    # Run on changes to everything except the documentation
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        paths:
          - .gitlab-ci.yml
          - ./*.xml
          - ./*.json
          - cli/**/*
          - core/**/*
          - node_modules/**/*
          - operator/**/*
          - relays/**/*
          - test/**/*
          - webhooks/**/*

build-webhooks:
  stage: build
  image:
    name: quay.io/quarkus/ubi-quarkus-graalvmce-builder-image:22.3-java17
    entrypoint: ["/bin/sh", "-c"]
  tags: [native-images]
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    MAVEN_MIRROR_URL: "https://agogos-nexus.apps.ocp4.prod.psi.redhat.com/repository/maven-public"
    KUBERNETES_CPU_REQUEST: "1"
    KUBERNETES_CPU_LIMIT: "2"
    KUBERNETES_MEMORY_REQUEST: "3Gi"
    KUBERNETES_MEMORY_LIMIT: "6Gi"
  script:
    - ./mvnw install -pl webhooks -am -Pnative -Dquarkus.container-image.build=true -Dquarkus.container-image.push=true -Dquarkus.native.native-image-xmx=4g
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        paths:
          - core/**/*
          - webhooks/**/*

fix(AGOGOS-585): building the same component in a group is incorrect
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonChainsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/execution/ExecutionDescribeCommand.java
  cli/src/main/resources/deployment/crds.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_executions.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_submissions.yaml
  cli/src/test/java/com/redhat/agogos/cli/commands/group/GroupExecuteCommandTest.java
  cli/src/test/resources/commands/execution/describe-failed-execution.txt
  cli/src/test/resources/commands/execution/describe-last-execution.txt
  cli/src/test/resources/commands/execution/describe-running-execution.txt
  cli/src/test/resources/commands/execution/describe-specific-execution.txt
  cli/src/test/resources/commands/execution/executions.yml
  cli/src/test/resources/commands/group/execution-specific-group.txt
  cli/src/test/resources/commands/group/executions.yml
  core/src/main/java/com/redhat/agogos/core/KubernetesFacade.java
  core/src/main/java/com/redhat/agogos/core/eventing/BaseCloudEventPublisher.java
  core/src/main/java/com/redhat/agogos/core/eventing/BrokerRestClient.java
  core/src/main/java/com/redhat/agogos/core/retries/KubernetesClientRetries.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Execution.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Submission.java
  core/src/test/java/com/redhat/agogos/core/v1alpha1/triggers/SerializationTest.java
  core/src/test/resources/execution.yml
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/AbstractController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/build/BuildController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/execution/ExecutionController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/run/RunController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/submission/SubmissionController.java
Due: verify-code, build-cli, build-webhooks

fix(AGOGOS): disable gitleaks
  .gitlab-ci.static-analysis.yml
Due: none

feat(AGOGOS-573): add retries to stages
  cli/src/main/resources/deployment/crds.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_components.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_pipelines.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_stages.yaml
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Stage.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/StageEntry.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/AbstractDependentResource.java
Due: verify-code, build-cli, build-webhooks

chore(AGOGOS-596): update to latest Quarkus platform (3.6.8)
  core/src/main/java/com/redhat/agogos/core/KubernetesFacade.java
  operator/src/main/resources/application.yaml
  pom.xml
Due: verify-code, build-cli, build-webhooks

feat(AGOGOS-600): update tekton and knative to Openshift Pipelines 1.13
  cli/src/main/resources/application.yaml
  cli/src/test/resources/commands/adm/install-dev-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-tekton-chains.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-dev-profile.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton-chains.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-local-profile.txt
Due: verify-code, build-cli

fix(AGOGOS-595): resolve conflicts when updating execution statuses
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/AbstractController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/execution/ExecutionController.java
Due: verify-code, build-cli

fix(AGOGOS-601): operator does not start automatically
  operator/src/main/resources/application.yaml
Due: verify-code, build-cli

fix(AGOGOS-597): agogos should use automatic observer gen handling
  core/pom.xml
  core/src/main/java/com/redhat/agogos/core/v1alpha1/AgogosResourceStatus.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Build.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Builder.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Component.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Execution.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Group.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Pipeline.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Run.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Stage.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/triggers/Trigger.java
Due: verify-code, build-cli, build-webhooks

fix(AGOGOS-602): unrecognized key "quarkus.kubernetes.namespace"
  core/pom.xml
  core/src/main/resources/application.yaml
Due: verify-code, build-cli, build-webhooks

fix(AGOGOS-569): native executable not reading application.yaml
  core/src/main/java/com/redhat/agogos/core/AgogosEnvironment.java
  core/src/main/resources/application.yaml
Due: verify-code, build-cli, build-webhooks

feat(AGOGOS-358): add validator for pipelines
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/WebhooksInstaller.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Stage.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/run/PipelineRunDependentResource.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/AdmissionHandler.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/WebhookHandler.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/validator/PipelineValidator.java
  webhooks/src/main/resources/META-INF/services/io.fabric8.kubernetes.api.model.KubernetesResource
  webhooks/src/test/java/com/redhat/agogos/webhooks/k8s/validator/PipelineValidatorTest.java
Due: verify-code, build-cli, build-webhooks

docs(AGOGOS-266): add docs for intellij integration
  docs/modules/developer-guide/assets/images/agogos_interceptors.png
  docs/modules/developer-guide/assets/images/agogos_operator.png
  docs/modules/developer-guide/assets/images/agogos_run.png
  docs/modules/developer-guide/assets/images/agogos_webhooks.png
  docs/modules/developer-guide/assets/images/build_component.png
  docs/modules/developer-guide/assets/images/install_dev.png
  docs/modules/developer-guide/assets/images/install_ns_dev.png
  docs/modules/developer-guide/assets/images/intellij-run-maven.png
  docs/modules/developer-guide/assets/images/knative_event.png
  docs/modules/developer-guide/assets/images/minikube_start.png
  docs/modules/developer-guide/assets/images/run_agogos.png
  docs/modules/developer-guide/assets/images/run_config_junit.png
  docs/modules/developer-guide/assets/images/run_pipeline.png
  docs/modules/developer-guide/assets/images/test_arrow.png
  docs/modules/developer-guide/pages/ide.adoc
Due: none

docs(AGOGOS-269): add cosign installation to docs
  docs/modules/developer-guide/nav.adoc
  docs/modules/developer-guide/pages/development-mode.adoc
  docs/modules/developer-guide/pages/tekton-chains.adoc
Due: none

Add new file
  .gitlab-ci-images.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: verify-code, build-cli

Update .gitlab-ci-images.yml
  .gitlab-ci-images.yml
Due: none
