Repository agogoscd/agogos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: verify, cli, docs, pages

.gitlab-ci.yml:

verify:
  image: maven:3.8-openjdk-17
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    MAVEN_MIRROR_URL: "https://agogos-nexus.apps.ocp4.prod.psi.redhat.com/repository/maven-public"
  stage: test
  script:
    - mvn spotless:check
    - mvn verify -s ci_settings.xml -Dmaven.wagon.http.ssl.insecure=true
  artifacts:
    when: always
    reports:
      junit:
        - ./**/target/surefire-reports/TEST-*.xml
        - ./**/target/failsafe-reports/TEST-*.xml
  tags: [docker]
  rules:
    # Run on changes to everything except the documentation
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - .gitlab-ci.yml
          - ./*.xml
          - ./*.json
          - cli/**/*
          - core/**/*
          - operator/**/*
          - relays/**/*
          - test/**/*
          - webhooks/**/*
      allow_failure: true

cli:
  image:
    name: quay.io/quarkus/ubi-quarkus-graalvmce-builder-image:22.3-java17
    entrypoint: ["/bin/sh", "-c"]
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    MAVEN_MIRROR_URL: "https://agogos-nexus.apps.ocp4.prod.psi.redhat.com/repository/maven-public"
  stage: build
  script:
    - ./mvnw clean package -pl cli -am -Pnative -s ci_settings.xml -Dmaven.wagon.http.ssl.insecure=true -Dnative-image.xmx=4g
    - mv ./cli/target/agogosctl-runner ./cli/target/agogosctl
  artifacts:
    paths:
      - cli/target/agogosctl
  tags: [docker]
  rules:
    # Run on changes to everything except the documentation
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        paths:
          - .gitlab-ci.yml
          - ./*.xml
          - ./*.json
          - cli/**/*
          - core/**/*
          - node_modules/**/*
          - operator/**/*
          - relays/**/*
          - test/**/*
          - webhooks/**/*
      allow_failure: true

docs:
  image: antora/antora:2.3.4
  stage: test
  script:
    - npm i
    - GIT_CREDENTIALS=$GIT_CREDENTIALS NODE_TLS_REJECT_UNAUTHORIZED=0 antora --fetch --to-dir public antora-playbook.yml
  artifacts:
    paths:
      - public
  tags: [docker]
  rules:
    # Only run on changes to the documentation
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - gulpfile.js
          - antora*.yml
          - docs/*.yml
          - docs/**/*
      allow_failure: true

pages:
  image: antora/antora:2.3.4
  stage: deploy
  script:
    - npm i
    - NODE_TLS_REJECT_UNAUTHORIZED=0 antora --fetch --to-dir public antora-playbook.yml
  artifacts:
    paths:
      - public
  tags: [docker]
  rules:
    # Only run on changes to the documentation
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        paths:
          - gulpfile.js
          - antora*.yml
          - docs/*.yml
          - docs/**/*
      allow_failure: true

feat(AGOGOS-185): add design document about documentation
  docs/modules/design-decisions/pages/002-documentation.adoc
Due: docs, pages

MR feedback
  docs/modules/design-decisions/pages/002-documentation.adoc
Due: docs, pages

chore(AGOGOS-130): improve coverage for 'com.redhat.agogos.core'
  core/pom.xml
  core/src/main/java/com/redhat/agogos/core/CloudEventHelper.java
  core/src/main/java/com/redhat/agogos/core/ResourceStatus.java
  core/src/test/java/com/redhat/agogos/core/CloudEventHelperTest.java
  core/src/test/java/com/redhat/agogos/core/KubernetesFacadeTest.java
  core/src/test/java/com/redhat/agogos/core/PipelineRunStatusTest.java
Due: verify, cli

fix(AGOGOS-241): fix name of webhooks key file
  webhooks/src/main/resources/application.yaml
Due: verify, cli

fix(AGOGOS-241): fix name of interceptors key file
  interceptors/src/main/resources/application.yaml
Due: none

refactor(AGOGOS-243): simplify ResourceLoader
  cli/src/main/java/com/redhat/agogos/cli/ResourceLoader.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/CRDsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/CoreInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/DependencyInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/InterceptorsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/OperatorInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/WebhooksInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/load/LoadCommand.java
  cli/src/test/java/com/redhat/agogos/cli/ResourceLoaderTest.java
  cli/src/test/java/com/redhat/agogos/cli/commands/build/BuildCommandTest.java
  cli/src/test/resources/loader/builds-list.yaml
  core/src/main/java/com/redhat/agogos/core/retries/KubernetesClientRetries.java
Due: verify, cli

chore(AGOGOS-249): spotless fixes
  cli/pom.xml
  core/pom.xml
  interceptors/pom.xml
  operator/pom.xml
  pom.xml
  relays/github/pom.xml
  relays/pom.xml
  test/pom.xml
  webhooks/pom.xml
Due: verify, cli

docs(AGOGOS-224): add Jira policy guide
  docs/modules/developer-guide/nav.adoc
  docs/modules/developer-guide/pages/policy-guides/documentation.adoc
  docs/modules/developer-guide/pages/policy-guides/jira.adoc
Due: docs, pages

fix(AGOGOS-213): native build does not find deployment/crds
  cli/pom.xml
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/CRDsInstaller.java
  cli/src/main/resources/application.yaml
  cli/src/main/resources/deployment/crds.yaml
  cli/src/main/resources/deployment/generate.sh
Due: verify, cli

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: verify, cli

Update pom.xml
  webhooks/pom.xml
Due: verify, cli

docs(AGOGOS-239): add commit message format policies document
  docs/modules/developer-guide/nav.adoc
  docs/modules/developer-guide/pages/policy-guides/commit_message_format.adoc
  docs/modules/developer-guide/pages/policy-guides/documentation.adoc
Due: docs, pages

fix(AGOGOS-214): test Openstack builds using the dummy builder
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/component/ComponentBuildCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/group/GroupExecuteCommand.java
  core/src/main/java/com/redhat/agogos/core/KubernetesFacade.java
  core/src/main/java/com/redhat/agogos/core/eventing/CloudEventHelper.java
  core/src/main/java/com/redhat/agogos/core/retries/KubernetesClientRetries.java
  core/src/test/java/com/redhat/agogos/core/KubernetesFacadeTest.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/build/BuildController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/component/PipelineDependentResource.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/customrun/CustomRunController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/execution/ExecutionController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/submission/SubmissionController.java
  webhooks/pom.xml
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/mutator/BuildMutator.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/mutator/RunMutator.java
Due: verify, cli

fix(AGOGOS-214): test Openstack builds using the dummy builder
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/InterceptorsInstaller.java
Due: verify, cli

fix(AGOGOS-214): test Openstack builds using the dummy builder
  cli/src/main/java/com/redhat/agogos/cli/commands/execution/ExecutionDescribeCommand.java
Due: verify, cli

feat(AGOGOS-260): add documentation for Builder development
  docs/modules/developer-guide/examples/builders/builder-python.yaml
  docs/modules/developer-guide/examples/builders/builder.yaml
  docs/modules/developer-guide/examples/builders/component-params.yaml
  docs/modules/developer-guide/examples/builders/component.yaml
  docs/modules/developer-guide/nav.adoc
  docs/modules/developer-guide/pages/builders.adoc
Due: docs, pages

fix(AGOGOS-298): builder output must be available in the build status
  cli/src/main/resources/deployment/crds.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_builds.yaml
  core/src/main/java/com/redhat/agogos/core/v1alpha1/ResultableBuildStatus.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/build/BuildController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/component/PipelineDependentResource.java
Due: verify, cli

fix(AGOGOS-275): create a dummy pipeline that uses the dummy stage
  cli/src/main/resources/deployment/crds/agogos.redhat.com_pipelines.yaml
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Pipeline.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/WorkspaceMapping.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/pipeline/PipelineController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/pipeline/PipelineDependentResource.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/run/PipelineRunDependentResource.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/run/PipelineRunPrecondition.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/run/RunController.java
Due: verify, cli

fix(AGOGOS-274): disable quarkus devservices for the core project
  core/src/main/resources/application.yaml
Due: verify, cli

docs(AGOGOS-240): add merge request policy guide
  docs/modules/developer-guide/nav.adoc
  docs/modules/developer-guide/pages/policy-guides/jira.adoc
  docs/modules/developer-guide/pages/policy-guides/merge_request.adoc
Due: docs, pages

Add new file
  .gitlab-ci-images.yml
Due: none

Update .gitlab-ci-images.yml
  .gitlab-ci-images.yml
Due: none
