Repository agogoscd/agogos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: verify, cli, webhooks, docs, pages

Path conditions:
  verify: any of: .gitlab-ci.yml, ./*.xml, ./*.json, cli/**/*, core/**/*, operator/**/*, relays/**/*, test/**/*, webhooks/**/*
  cli: any of: .gitlab-ci.yml, ./*.xml, ./*.json, cli/**/*, core/**/*, node_modules/**/*, operator/**/*, relays/**/*, test/**/*, webhooks/**/*
  webhooks: any of: core/**/*, webhooks/**/*
  docs: any of: gulpfile.js, antora*.yml, docs/*.yml, docs/**/*
  pages: any of: gulpfile.js, antora*.yml, docs/*.yml, docs/**/*

refactor(AGOGOS-295): update interceptors image
  interceptors/src/main/docker/Dockerfile.native
Due: none

fix(AGOGOS-480): update dependencies version to support Mac user
  pom.xml
Due: none

docs(AGOGOS-480): update the document to support macOS users
  docs/modules/developer-guide/pages/development-mode.adoc
Due: docs, pages

chore(AGOGOS): add step to add nalhadef as reviewer on docs
  .gitlab-ci.yml
Due: verify, cli

docs(AGOGOS-480): update instruction to use pipenv to run python
  docs/modules/developer-guide/pages/development-mode.adoc
Due: docs, pages

refactor(AGOGOS-498): refactor and clean up CLI
  cli/src/main/java/com/redhat/agogos/cli/CLI.java
  cli/src/main/java/com/redhat/agogos/cli/Helper.java
  cli/src/main/java/com/redhat/agogos/cli/commands/AbstractListCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/AbstractResourceSubcommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/AbstractSubcommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InstallCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/CRDsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/CoreInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/DependencyInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/Installer.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/InterceptorsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/KnativeEventingInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/OperatorInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonTriggersInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/WebhooksInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/component/ComponentBuildCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/execution/ExecutionDescribeCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/group/GroupExecuteCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/info/InfoCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/pipeline/PipelineRunCommand.java
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInitNamespaceCommandTest.java
  cli/src/test/java/com/redhat/agogos/cli/commands/group/GroupExecuteCommandTest.java
Due: verify, cli

chore(AGOGOS-474): upgrade to Quarkus 3.5.0
  cli/pom.xml
  pom.xml
Due: verify, cli

fix(AGOGOS-500): dev and local installs fails to patch Tekton ConfigMap
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonInstaller.java
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInstallCommandTest.java
Due: verify, cli

fix(AGOGOS-501): fix adm init to handle multiple extensions correctly
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInitNamespaceCommandTest.java
  cli/src/test/resources/commands/adm/init-help.txt
Due: verify, cli

fix(AGOGOS-497): init-namespace not creating secrets in production
  cli/src/main/java/com/redhat/agogos/cli/Helper.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInitNamespaceCommandTest.java
  cli/src/test/resources/commands/adm/init-namespace-only.txt
  cli/src/test/resources/commands/adm/init-with-extensions.txt
  cli/src/test/resources/commands/adm/init-with-quota.txt
  cli/src/test/resources/commands/adm/init-with-users.txt
Due: verify, cli

chore(AGOGOS): replace Neal by Chris on docs review
  .gitlab-ci.yml
Due: verify, cli

fix(AGOGOS-510): change from CPaaS to Agogos
  docs/modules/developer-guide/pages/documentation/index.adoc
Due: docs, pages

docs(AGOGOS-504): update development document
  docs/modules/developer-guide/examples/builders/builder.yaml
  docs/modules/developer-guide/pages/development-mode.adoc
Due: docs, pages

fix(AGOGOS-516): webhooks are failing wth "connection refused"
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/InterceptorsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/WebhooksInstaller.java
Due: verify, cli

fix(AGOGOS-506): fix various production CLI issues
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/CoreInstaller.java
  cli/src/test/resources/commands/adm/init-namespace-only.txt
  cli/src/test/resources/commands/adm/init-with-extensions.txt
  cli/src/test/resources/commands/adm/init-with-quota.txt
  cli/src/test/resources/commands/adm/init-with-users.txt
Due: verify, cli

feat(AGOGOS-499): implement Builder pre- and post-handlers as Stages
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/WebhooksInstaller.java
  cli/src/main/resources/deployment/crds.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_components.yaml
  cli/src/main/resources/deployment/crds/agogos.redhat.com_handlers.yaml
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInitNamespaceCommandTest.java
  cli/src/test/resources/commands/adm/install-dev-profile-without-either.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-dev-profile.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-either.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-local-profile.txt
  cli/src/test/resources/commands/adm/install-prod-profile.txt
  core/src/main/java/com/redhat/agogos/core/AgogosEnvironment.java
  core/src/main/java/com/redhat/agogos/core/PipelineRunStatus.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/AgogosResource.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Component.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/ComponentHandlerSpec.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Handler.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/HandlerList.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/Pipeline.java
  core/src/main/java/com/redhat/agogos/core/v1alpha1/StageEntry.java
  core/src/main/resources/META-INF/services/io.fabric8.kubernetes.api.model.KubernetesResource
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/AbstractDependentResource.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/build/BuildController.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/build/PipelineRunDependentResource.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/component/PipelineDependentResource.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/pipeline/PipelineDependentResource.java
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/run/RunController.java
  operator/src/test/java/com/redhat/agogos/operator/k8s/controllers/component/PipelineDependentResourceTest.java
  test/src/main/java/com/redhat/agogos/test/CRDTestServerSetup.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/WebhookHandler.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/validator/ComponentValidator.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/validator/HandlerValidator.java
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/validator/StageValidator.java
  webhooks/src/test/java/com/redhat/agogos/webhooks/k8s/validator/ComponentValidatorTest.java
Due: verify, cli, webhooks

docs(AGOGOS-499): update docs for component stages
  docs/modules/concepts/pages/components.adoc
  docs/modules/developer-guide/examples/builders/builder-python.yaml
  docs/modules/developer-guide/examples/builders/builder.yaml
Due: docs, pages

fix(CPAAS-514): update gitlab-ci file in prep for SonarQube
  .gitlab-ci.yml
Due: verify, cli

docs(AGOGOS-504): update the development mode guide
  docs/modules/developer-guide/pages/development-mode.adoc
Due: docs, pages

fix(AGOGOS-514): move doc CI to new file
  .gitlab-ci.yml
  docs/gitlab-ci.yml
Due: verify, cli, docs, pages

fix(AGOGOS-514): fix doc change notifications
  docs/gitlab-ci.yml
Due: docs, pages

docs(AGOGOS-504): update the development guide
  docs/modules/developer-guide/pages/development-mode.adoc
Due: docs, pages

fix(AGOGOS-528): documentation pages are not published
  docs/gitlab-ci.yml
Due: docs, pages

fix(AGOGOS-530): validation not working
  webhooks/src/main/resources/META-INF/services/io.fabric8.kubernetes.api.model.KubernetesResource
Due: verify, cli, webhooks

docs(chore): add notes on the installation of kvm2 and docker
  docs/modules/developer-guide/pages/development-mode.adoc
Due: docs, pages

fix(AGOGOS-481): add static-analysis file to gitlab CI
  .gitlab-ci.static-analysis.yml
  .gitlab-ci.yml
Due: verify, cli

fix(AGOGOS-553): set replicas value for extension Deployment resources
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
Due: verify, cli

fix(AGOGOS-533): fix various operator issues in production
  operator/src/main/java/com/redhat/agogos/operator/k8s/controllers/build/PipelineRunDependentResource.java
  operator/src/main/resources/application.yaml
Due: verify, cli

docs(AGOGOS-538): simplify development guide
  docs/modules/developer-guide/examples/development-mode/components-and-group.yaml
  docs/modules/developer-guide/examples/development-mode/group.yaml
  docs/modules/developer-guide/examples/development-mode/sample-builder.yaml
  docs/modules/developer-guide/pages/development-mode.adoc
Due: docs, pages

fix(AGOGOS-481): add rh-gitleaks scan
  .gitlab-ci.static-analysis.yml
Due: none

fix(AGOGOS-557): validate Stage with resolver
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/validator/StageValidator.java
  webhooks/src/test/java/com/redhat/agogos/webhooks/k8s/validator/StageValidatorTest.java
Due: verify, cli, webhooks

fix(AGOGOS-508): validate Builders that are just local
  webhooks/src/main/java/com/redhat/agogos/webhooks/k8s/validator/ComponentValidator.java
  webhooks/src/test/java/com/redhat/agogos/webhooks/k8s/validator/ComponentValidatorTest.java
Due: verify, cli, webhooks

fix(AGOGOS-556): init-namespace fails updating ClusterRoleBinding
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInitNamespaceCommandTest.java
  core/src/main/java/com/redhat/agogos/core/KubernetesFacade.java
  core/src/main/java/com/redhat/agogos/core/retries/KubernetesClientRetries.java
  core/src/test/java/com/redhat/agogos/core/KubernetesFacadeTest.java
Due: verify, cli, webhooks

fix(AGOGOS-576): add code scanning doc with yamllint
  docs/modules/developer-guide/nav.adoc
  docs/modules/developer-guide/pages/code_analysis.adoc
Due: docs, pages

feat(AGOGOS-269): add Tekton Chains for SSML compliance
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InstallCommand.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/InterceptorsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonChainsInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/WebhooksInstaller.java
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/utils/Utils.java
  cli/src/main/java/com/redhat/agogos/cli/config/TektonChainsDependency.java
  cli/src/main/resources/application.yaml
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInstallCommandTest.java
  cli/src/test/resources/commands/adm/install-dev-profile-without-either.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-tekton-chains.txt
  cli/src/test/resources/commands/adm/install-dev-profile.txt
  cli/src/test/resources/commands/adm/install-help.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton-chains.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-local-profile.txt
Due: verify, cli

fix(AGOGOS-572): add requests and limits for EventListener
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/InitNamespaceCommand.java
  cli/src/main/resources/application.yaml
Due: verify, cli

fix(AGOGOS-574): errors during build of 50 components
  core/src/main/java/com/redhat/agogos/core/PipelineRunStatus.java
Due: verify, cli, webhooks

fix(AGOGOS-591): tekton chains installer prints output to stdout/stderr
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/TektonChainsInstaller.java
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInstallCommandTest.java
  cli/src/test/resources/commands/adm/install-dev-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-dev-profile.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-knative.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-local-profile.txt
Due: verify, cli

fix(AGOGOS-592): implement workaround for EL problems (SRVKP-3214), #2
  cli/src/main/java/com/redhat/agogos/cli/commands/adm/install/KnativeEventingInstaller.java
  cli/src/test/java/com/redhat/agogos/cli/commands/adm/AdmInstallCommandTest.java
  cli/src/test/resources/commands/adm/install-dev-profile-without-tekton-chains.txt
  cli/src/test/resources/commands/adm/install-dev-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-dev-profile.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton-chains.txt
  cli/src/test/resources/commands/adm/install-local-profile-without-tekton.txt
  cli/src/test/resources/commands/adm/install-local-profile.txt
Due: verify, cli
